.view-belowheader {
    position: relative;
    padding: 0 0 rem(45px) 0;

    @media (max-width: 812px) {
        margin-top: 20px;
    }

    &__undertitle {
        display: flex;
        align-items: center;

        @media (max-width: 812px) {
            font-size: 16px !important;
            line-height: 19px !important;
            margin: 0 0 5px !important;
        }

        &::before {
            content: '';
            width: rem(40px);
            height: 1px;
            margin-right: rem(15px);
            background-color: var(--text-color-blue);
            opacity: 0.8;
        }
    }

    &__title {

        span {
            @media (min-width: 813px) {
                -webkit-text-stroke: 1px var(--text-color-black);
            }

            @media (max-width: 812px) {
                -webkit-text-stroke: .5px var(--text-color-black);
            }
            color: var(--text-color-white);
        }
    }

    &__caption {
        width: 100%;
        max-width: rem(410px);
        background-color: var(--text-color-white);

        @media (max-width: 812px) {
            display: none;
        }
    }
}